*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  
}

body {
  background-image: url(../dist/pexels-lisa-fotios-1107717.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  padding: 2.5rem;
  color: white;
  font-family: 'Montserrat', sans-serif;
}

.weather-info {
  max-width: 55%;
}

.weather-info_description {
  font-size: 2.5rem;
  line-height: 1;
  font-weight: 500;
}

.weather-info_city,
.weather-info_country {
  font-size: 1rem;
  font-weight: 500;
}

.weather-info_date, 
.weatehr-info_time {
  font-size: 1rem;
  font-weight: 500;
}

.weather-info_temperature {
  font-size: 1rem;
  font-weight: 400;

}

#search-weather-input {
  font-size: 1.3rem;
  background: transparent;
  outline: transparent;
  border: none;
  border-bottom: 1px solid white;
  color: white;
  font-family: inherit;
}

.change-unit {
  font-size: 1rem;
  font-family: inherit;
  padding: 4px;
  background: transparent;
  color: white;
  border: 3px solid white;
  cursor: pointer;
  font-weight: 500;
  border-radius: 4px;
  margin-top: 10px;
}


.search {
  background: transparent;
  font-size: 1.3rem;
}

main {
  display: flex;
  justify-content: space-between;
}

.weather-details {
  display: flex;
  margin-bottom: 10px;
}

.weather-details-icon {
  width: 2rem;
  margin-right: 10px;
}

.weather-details-label {
  font-size: 0.7rem;
}

.change-forecast {
  display: flex;
}

.change-hours {
  display: flex;
}

.change-hours__left,
.change-hours__right {
  width: 0.7rem;
  height: 0.5rem;
}

.active-unit {
  background-color: salmon;
  color: white;
}




