*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  
}

body {
  background-image: url(../dist/pexels-lisa-fotios-1107717.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  padding: 2.5rem 2.5rem 0.5rem 2.5rem;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-family: 'Montserrat', sans-serif;
  height: 100vh;
}

.weather-info {
  max-width: 55%;
}

.weather-info_description {
  font-size: 2.5rem;
  line-height: 1;
  font-weight: 500;
  margin-bottom: 1rem;
}

.weather-info_city,
.weather-info_country {
  font-size: 1rem;
  font-weight: 500;
  display: inline;
}

.weather-info_date {
  margin-top: 0.8rem;
}

.weather-info_date, 
.weatehr-info_time {
  font-size: 1rem;
  font-weight: 500;
}

.weather-info_temperature {
  font-size: 3rem;
  font-weight: 500;
}

#search-weather-input {
  font-size: 1rem;
  background: transparent;
  outline: transparent;
  border: none;
  border-bottom: 2px solid white;
  color: white;
  font-family: inherit;
}

.change-unit {
  font-size: 0.8rem;
  font-family: inherit;
  padding: 4px;
  background: transparent;
  color: white;
  border: 2px solid white;
  cursor: pointer;
  font-weight: 500;
  border-radius: 4px;
  margin-top: 10px;
}


#search {
  background: transparent;
  font-size: 1rem;
  border-bottom: 2px solid white;
}

#search-weather-input:hover {
  border-bottom: 2px solid salmon;
}

#search-weather-input:hover ~ #search {
  border-bottom: 2px solid salmon;
}

#search-weather-input::placeholder {
  color: white;
}

main {
  display: flex;
  justify-content: space-between;
}

.weather-info_icon {
  display: flex;
  justify-content: center;
}

.weather-info_icon img {
  height: 5rem;
}

.weather-details {
  display: flex;
  margin-bottom: 10px;
}

.weather-details-icon {
  width: 2rem;
  margin-right: 10px;
}

.weather-details-label {
  font-size: 0.7rem;
}

.weather-details_value {
  font-size: 1.2rem;
}

.change-forecast {
  display: flex;
  align-items: center;
}

.change-hours {
  display: flex;
  justify-content: space-between;
  width: 4rem;
}

.change-hours__left,
.change-hours__right {
  width: 0.6rem;
}

.active-unit {
  background-color: salmon;
  color: white;
  border: 2px solid salmon;
}

.daily-caption {
  margin-right: 2rem;
  font-size: 0.9rem;
}


.svg-icon path,
.svg-icon polygon,
.svg-icon rect {
  fill: white;
}

.svg-icon circle {
  stroke: white;
  stroke-width: 1;
}

.forcast-daily-container {
  display: flex;
  justify-content: space-between;
}

.forcast-daily_day {
  margin-bottom: 1rem;
  font-size: 1rem;
  font-weight: 500;
}

.forcast-daily_temperature-high {
  margin-bottom: 0.4rem;
  font-size: 1rem;
  font-weight: 700;
}

.forcast-daily_temperature-low {
  font-size: 0.7rem;
}

.forcast-daily_weather-icon {
  width: 70%;
}

.forcast-daily_weather-icon img {
  width: 100%;
}