*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: url(./images/pexels-pixabay-209831.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  padding: 2.5rem 2.5rem 0.5rem 2.5rem;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-family: 'Montserrat', sans-serif;
  height: 100vh;
}

.rain-bg {
  background-image: url(./images/rain.jpg);
}

.cloud-bg {
  background-image: url(./images/pexels-pixabay-209831.jpg);
}

.clear-bg {
  background-image: url(./images/clearsky.jpg);
}

.snow-bg {
  background-image: url(./images/snow.jpg);
}

.thunderstorm-bg {
  background-image: url(./images/thunderstorm.jpg);
}

.mist-bg {
  background-image: url(./images/mist.jpg);
}

.sun-bg {
  background-image: url(./images/pexels-lisa-fotios-1107717.jpg);
}

.haze-bg {
  background-image: url(./images/haze.jpg);
}

.other-bg {
  background-image: url(./images/few\ clouds.jpg);
}

.weather-info {
  max-width: 55%;
}

.weather-info_description {
  font-size: 2.5rem;
  line-height: 1;
  font-weight: 500;
  margin-bottom: 1rem;
}

.weather-info_city,
.weather-info_country {
  font-size: 1rem;
  font-weight: 500;
  display: inline;
}

.weather-info_date {
  margin-top: 0.8rem;
}

.weather-info_date, 
.weatehr-info_time {
  font-size: 1rem;
  font-weight: 500;
}

.weather-info_temperature {
  font-size: 3rem;
  font-weight: 500;
}

#search-weather-input {
  font-size: 1rem;
  background: transparent;
  outline: transparent;
  border: none;
  border-bottom: 2px solid white;
  color: white;
  font-family: inherit;
}

.change-unit {
  font-size: 0.8rem;
  font-family: inherit;
  padding: 4px;
  background: transparent;
  color: white;
  border: 2px solid white;
  cursor: pointer;
  font-weight: 500;
  border-radius: 4px;
  margin-top: 10px;
}


#search {
  background: transparent;
  font-size: 1rem;
  border-bottom: 2px solid white;
}

#search-weather-input:hover {
  border-bottom: 2px solid salmon;
}

#search-weather-input:hover ~ #search {
  border-bottom: 2px solid salmon;
}

#search-weather-input::placeholder {
  color: white;
}

main {
  display: flex;
  justify-content: space-between;
}

.weather-info_icon {
  display: flex;
  justify-content: center;
}

.weather-info_icon img {
  height: 5rem;
}

.weather-details {
  display: flex;
  margin-bottom: 10px;
}

.weather-details-icon {
  width: 2rem;
  margin-right: 10px;
}

.weather-details-label {
  font-size: 0.7rem;
}

.weather-details_value {
  font-size: 1.2rem;
}

.change-forecast {
  display: flex;
  align-items: center;
}

.change-hours {
  display: flex;
  justify-content: space-between;
  width: 4rem;
}

.change-hours__left,
.change-hours__right {
  width: 0.6rem;
}

.active-unit {
  background-color: salmon;
  color: white;
  border: 2px solid salmon;
}

.daily-caption {
  margin-right: 2rem;
  font-size: 2rem;
  margin-bottom: 1rem;
  text-transform: uppercase;
}


.svg-icon path,
.svg-icon polygon,
.svg-icon rect {
  fill: white;
}

.svg-icon circle {
  stroke: white;
  stroke-width: 1;
}

.forecast {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 1.5rem;
  
}

.forcast-daily-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.forcast-daily {
  margin-right: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.forcast-daily_day {
  margin-bottom: 1rem;
  font-size: 1rem;
  font-weight: 500;
}

.forcast-daily_temperature-high {
  margin-bottom: 0.4rem;
  font-size: 1rem;
  font-weight: 700;
}

.forcast-daily_temperature-low {
  font-size: 0.7rem;
}

.forcast-daily_weather-icon {
  width: 70%;
}

.forcast-daily_weather-icon img {
  width: 100%;
}

@media only screen and (max-width: 760px) {
  .weather-info_description {
    font-size: 2rem;
  }

  .forcast-daily-container {
    display: grid;
    grid-template-columns: repeat(4, auto);
  }
  
}

@media only screen and (max-width: 500px) {
  #search-weather-input {
    font-size: 0.8rem;
  }
}

@media only screen and (max-width: 450px) {
  #search-weather-input {
    font-size: 0.8rem;
  }

  main {
    display: block;
    
  }

  .weather-info {
    margin: 0 auto;
    max-width: 100%;
  }

  .weather-details-container {
    margin-top: 1.5rem;
    display: grid;
    grid-template-columns: repeat(3, auto);
    gap: 5px;
  }
}

@media only screen and (max-width: 400px) {
  .weather-details-container {
    grid-template-columns: repeat(2, auto);
  }

  .forcast-daily-container {
    grid-template-columns: repeat(2, auto);
  }
}